@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(haker.jpg);
    background-position: center;
    background-size: cover;
}
h1,h2 ,h3 ,h4 ,p,a{
    color:white;

}
#login-form{
    display: block;
}
.form-box{
width: 380px;
height: 480px;
position: relative;
margin: 2% auto;
background-color: rgba(0, 0,0, 0.3);
padding: 10px;
overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}   
.Toggle-btn
{
    color: red;
    padding: 10px 30px;
    cursor: pointer;
background:transparent ;
border: 0;
outline: none;
position: relative;
}
#btn{

    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color:green;
    border-radius: 30px;
    transition: .5s;

}
.input-group-login
{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group-register
{
    top: 120px;
    position:absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: green;
    border: 0;
    outline: none;
    border-radius: 30px;

}
.check-box
{
    margin: 30px 10px 34px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position:absolute;

}
#login{
    left: 50px;
}
#login input{
    color: red;
    font-size: 15px;
}
#register{
     left: 450px;
}
#register input{
    color:red;
    font-size: 15px;
}


body {
    background-color:black;
    font-family: 'Poppins', sans-serif;
}
/* Menu */

.navigation-bar {
    display:flex;
    align-items:center;
    padding:20px;
  
}


 .search-box  a input{
   
}   
.search-box {
    
    top:50%;
    left :50%;
    background-color:white;
    
    height:40px;
    border-radius:40px;
    padding:0px;
    padding-bottom:-10px;

}
.search-btn{
    color:#e84118;
    float:bottom;
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#2f3640;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-box:hover>.search-txt{
    width:240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn{
    background: white;

}
.search-txt{
    border:0;
    
    border:none;
    background:none;
    outline:none;
    float:left;
    height:40px;
    
    color:black;
    font-family: 'Poppins',sans-serif;
    font-size:16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0;

}


nav {
    flex : 1;
    text-align:right;

}
/* Menu */
nav ul {

    display:inline-block;
    list-style:none;

}
nav ul li {
    
    display: inline-block;
    margin-bottom:10px;
    
    margin-right:40px;
}
a {
    text-decoration:none;
    color:white;

}
p {
    color:white;
}

.container {
    max-width:1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.col-2 {
    flex-basis:50%;
    min-width:300px;
}
.col-2 img {
    max-width: 100%;
    

}
.col-2 h1 {
    font-size:50px;
    color:white;
    line-height:60px;
    margin:25px 0;

}
.btn {
    display: inline-block;
    background:white;
    color:black;
    padding:8px 30px;
    margin:30px 0 ;
    border-radius:30px;
    transition:  0.5s;

}
.btn:hover {
    background-color:lightslategray;

}
.header {
   

}
.header .row {
    margin-top:70px;
}

.categories {
    margin:70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width:250px;
    margin-bottom:30px;
}
.col-3 img {
    width: 100%;

}
.small-container {
    max-width:1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4 {
    flex-basis:25%;
    padding:10px;
    min-width:10px;
    margin-bottom:50px;
    transition: transform 0.5s;
}
.col-4 img {
    width:100%;

}
.title {
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:white;

}
.title::after {
    content: '';
    background:red;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);


}
h4 {
    color:white;
    font-weight: normal;

}
.col-4 p {
    font-size:14px;

}
.col-4:hover {
    transform:translateY(-5px);

}
.offer {
    background-color:#18191a;

    margin-top:80px;
    padding:30px 0 ;

}
.col-2 .offer-img {
    padding:50px;
    
}
small {
    color:white;

}
/* brands */
.brands {
    margin:100px auto;



}
.col-5 {
    width:160px;

}
.col-5 img {
    width:90%;
    cursor:pointer;
}
/* Footer */
.footer {   

   
    
    font-size:14px;
    padding:60px 0 20px;


}
.footer p{
    color:white;

}
.footer h3 {
    color:white;
    margin-bottom:20px;

}
.footer-col-1, .footer-col-2 ,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom:20px;

}
.footer-col-1{
    flex-basis:30%;

}

.footer-col-2{
    flex:1;
    text-align:center;
    
}
.footer-col-2 img{
    width:180px;
    margin-bottom:20px;

  
}
.footer-col-3 , .footer-col-4 {
    flex-basis:12%;
    text-align:center;


}
ul {

    list-style:none;
}
ul li {
    color:white;

}

.app-logo {
    margin-top:30px;
    position:relative;
    background-color:white;
}
.googleplay {
    position:absolute;
    top:0;
}
.appstore {
    position:absolute;
    top:0;
    right:50px;
    
}
.app-logo img {
    width:140px;

}
.footer hr  {
    border:none;

    background:white;
    height: 1px;
    margin:20px 0;

}
.copyright{
    text-align:center;

}
 .menu-icon {
    width:28px;
    background-color:white;
    border-radius: 3px;
    margin-left:20px;
    margin-bottom:8.5px;
    display:none;
} 
  

.row-2 {
    justify-content: space-between;
    margin:100px auto 50px;

}
.select {
    border:1px solid white;
    padding:5px;
}
.select:focus{
    outline:none;

}
